/*
 * Filename: sidebar.css
 * Last modified: 2/3/20, 8:08 AM
 *
 * @author Panji Setya Nur Prawira
 * @facebook https://www.facebook.com/PanjiNamjaElf
 * @twitter https://twitter.com/PanjiNamjaElf18
 * @github https://github.com/PanjiNamjaElf/
 * @gitlab https://gitlab.com/PanjiNamjaElf
 * @copyright (c) 2020
 */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
 font-family: 'Poppins', sans-serif;
 background: #fafafa;
}

p {
 font-family: 'Poppins', sans-serif;
 font-size: 1.1em;
 font-weight: 300;
 line-height: 1.7em;
 color: #999;
}

a,
a:hover,
a:focus {
 transition: all 0.3s;
 text-decoration: none;
 color: inherit;
}

.navbar {
 margin-bottom: 15px;
 padding: 15px 10px;
 border: none;
 border-radius: 0;
 background: #fff;
 box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
 border: none;
 outline: none !important;
 box-shadow: none;
}

.line {
 width: 100%;
 height: 1px;
 margin: 40px 0;
 border-bottom: 1px dashed #ddd;
}

i,
span {
 display: inline-block;
}

/* ---------------------------------------------------
 SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
 display: flex;
 align-items: stretch;
}

#sidebar {
 min-width: 250px;
 max-width: 250px;
 transition: all 0.3s;
 color: #fff;
 background: #292929;
}

#sidebar.active {
 min-width: 80px;
 max-width: 80px;
 text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
 display: none;
}

#sidebar.active .sidebar-header strong {
 display: block;
}

#sidebar ul li a {
 text-align: left;
}

#sidebar.active ul li a {
 font-size: 0.85em;
 padding: 20px 10px;
 text-align: center;
}

#sidebar.active ul li a i {
 font-size: 1.8em;
 display: block;
 margin-right: 0;
 margin-bottom: 5px;
}

#sidebar.active ul ul a {
 padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
 top: auto;
 right: 50%;
 bottom: 10px;
 -ms-transform: translateX(50%);
 -webkit-transform: translateX(50%);
 transform: translateX(50%);
}

#sidebar .sidebar-header {
 padding: 20px;
 background: #202020;
}

#sidebar .sidebar-header strong {
 font-size: 1.8em;
 display: none;
}

#sidebar ul.components {
 padding: 20px 0;
 border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
 font-size: 1.1em;
 display: block;
 padding: 10px;
}

#sidebar ul li a:hover {
 color: #000000;
 background: #fff;
}

#sidebar ul li a i {
 margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
 color: #fff;
 background: #404040;
}

a[data-toggle="collapse"] {
 position: relative;
}

ul ul a {
 font-size: 0.9em !important;
 padding-left: 30px !important;
 background: #6d7fcc;
}

ul.CTAs {
 padding: 20px;
}

ul.CTAs a {
 font-size: 0.9em !important;
 display: block;
 margin-bottom: 5px;
 text-align: center;
 border-radius: 5px;
}

a.article,
a.article:hover {
 color: #fff !important;
 background: #6d7fcc !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
 width: 100%;
 min-height: 100vh;
 padding: 20px;
 transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
 #sidebar {
  min-width: 80px;
  max-width: 80px;
  margin-left: -80px !important;
  text-align: center;
 }

 .dropdown-toggle::after {
  top: auto;
  right: 50%;
  bottom: 10px;
  -ms-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
 }

 #sidebar.active {
  margin-left: 0 !important;
 }

 #sidebar .sidebar-header h3,
 #sidebar .CTAs {
  display: none;
 }

 #sidebar .sidebar-header strong {
  display: block;
 }

 #sidebar ul li a {
  padding: 20px 10px;
 }

 #sidebar ul li a span {
  font-size: 0.85em;
 }

 #sidebar ul li a i {
  display: block;
  margin-right: 0;
 }

 #sidebar ul ul a {
  padding: 10px !important;
 }

 #sidebar ul li a i {
  font-size: 1.3em;
 }

 #sidebar {
  margin-left: 0;
 }

 #sidebarCollapse span {
  display: none;
 }
}