/*
 * Filename: styles.css
 * Last modified: 2/3/20, 9:32 AM
 *
 * @author Panji Setya Nur Prawira
 * @facebook https://www.facebook.com/PanjiNamjaElf
 * @twitter https://twitter.com/PanjiNamjaElf18
 * @github https://github.com/PanjiNamjaElf/
 * @gitlab https://gitlab.com/PanjiNamjaElf
 * @copyright (c) 2020
 */

/* Page titles */
.page-title {
 font-size: 20px;
 font-weight: 600;
 margin-bottom: 0px;
 margin-top: 10px;
}

.m-t-5 {
 margin-top: 5px !important;
}

.m-b-15 {
 margin-bottom: 15px !important;
}

#list-table tbody tr:hover {
 cursor: pointer;
 background-color: #4fafff;
 color: #ffffff;
}

/*
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
 background-color: #37afff;
}*/

#member-table {
 position: relative;
}

#member-table .ajax-loader {
 position: absolute;
 left: 50%;
 top: 50%;
 margin-left: -100px; /* -1 * image width / 2 */
 margin-top: -100px; /* -1 * image height / 2 */
}

/* =============
   Print css
============= */
@media print {
 .page-title {
  display: none;
  margin: 0px;
  padding: 0px;
 }
}